<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <title><%= title %></title>
  </head>
  <body>
    <pheader> 
     <ul> 
     <li><a href="/">Home</a></li> 
     </ul> 
    </pheader> 
    <section>
      <%= yield %>
    </section>
    <footer>
      Powered by <a href="http://cloudhead.io/toto">toto</a> and <a href="http://heroku.com/">Heroku</a>. <a href="http://github.com/ngerakines/erlangquicktips">Add your tips</a>.
    </footer>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-660447-7");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
