<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <title><%= title %></title>
  </head>
  <body>
    <pheader> 
     <ul> 
     <li><a href="/">Home</a></li> 
     </ul> 
    </pheader> 
    <section>
      <%= yield %>
    </section>
    <footer>
      Powered by <a href="http://cloudhead.io/toto">toto</a> and <a href="http://heroku.com/">Heroku</a>. <a href="http://github.com/ngerakines/erlangquicktips">Add your tips</a>.
    </footer>
  </body>
</html>

